<div th:fragment="bodyFragment">
    <div class="dentista section" id="dentista">
        <h2>LOS Y LAS MEJORES DENTISTAS DE LA ZONA</h2>
        <a href="/servicios/dentistas" class="link-servicio">Ver dentistas</a>
        <a href="#peluqueria" class="flecha abajo-derecha">⬇</a>
    </div>

    <div class="peluqueria section" id="peluqueria">
        <h2>LAS MEJORES PELUQUERIAS DE LA ZONA</h2>
        <a href="/servicios/peluquerias" class="link-servicio">Ver peluquerías</a>
        <a href="#profesora" class="flecha abajo-derecha">⬇</a>
    </div>

    <div class="profesora section" id="profesora">
        <h2>LAS MEJORES CLASES PARTICULARES DE LA ZONA</h2>
        <a href="/servicios/clases" class="link-servicio">Ver clases</a>
        <a href="#paseadorperros" class="flecha abajo-derecha">⬇</a>
    </div>

    <div class="paseadorperros section" id="paseadorperros">
        <h2>LOS Y LAS MEJORES PASEADORES DE LA ZONA</h2>
        <a href="/servicios/paseadores" class="link-servicio">Ver paseadores</a>
        <a href="#servicios" class="flecha abajo-derecha">⬇</a>
    </div>

    <div style="background-color:#111; text-align:center; padding: 20px;" id="servicios">
        <a href="/servicios" style="color:white; font-size:1rem; text-decoration:underline;">Más servicios...</a>
    </div>
</div>