.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #222;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    padding: 0.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-bar > .left,
.top-bar > .center,
.top-bar > .right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-bar a {
    color: #333;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    margin: 0 0.5rem;
    transition: all 0.2s ease;
}
  
.top-bar a:hover {
    opacity: 0.7;
}