<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mapa de Empresas</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" th:href="@{/css/mapa.css}" />    
</head>
<body>

    <div class="container">
        <a class="volver-btn" onclick="history.back()">← Volver</a>

        <h1>Mapa de Empresas</h1>

        <div class="map-container">
            <div id="map"></div>
        </div>
    </div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <script th:inline="javascript">
        let servicioID = /*[[${servicioID}]]*/ 0;
    </script>

    <script th:src="@{/js/mapa.js}"></script>

</body>
</html>
